/* ------------
   GLOBAL STYLES
-------------- */

h1{
    text-align: center;
    color: #5c5c93;
    margin: 30px 0 50px;
}

h3{
    text-align: center;
    color: #5c5c93;
    margin: 30px 0 50px;
    margin-bottom: 10px;
}

/* ------------
   GALLERY STYLES
-------------- */

.thumbnails{
    margin: 0 auto;
    height: 50%;
    width: 15%;
    float: left;
    border-radius: 5px;
    padding-left: .8%;
    padding-right: .2%;
    padding-top: 2px;
    overflow:hidden;
    position: relative;
    background-color: rgb(62, 67, 101);
}


.thumbnails img{
    width: 175px;
    padding: 5px;
    padding-left: 20px;
    transition: 1s;
    overflow:hidden;
    position: relative;
}

img {
    border-radius: 10px;
}

.thumbnails img:hover{
    transform:scale(.5);
    filter:grayscale();
}

.galleryDisplay{
    background-color: #585888;
    width:80%;
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
    overflow:hidden;
    position: relative;
    border-radius: 10px;
    padding:0;
}

.galleryDisplay h2{
    padding-left: 480px;
}

.galleryDisplay img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; /* optional, since container clips */
    display: block;
}

/* ------------
   ABOUT STYLES
-------------- */
.about {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    color: #333;
}

.about img {
    max-width: 100%;
    border-radius: 10px;
    margin: 20px 0;
}

.about p {
    line-height: 1.6;
    font-size: 1.1em;
}




